StackLayout {
    margin-left: 30;
    margin-right: 30;
    margin-top: 30;
}

.label {
    color: black;
    margin-bottom: 30;
    font-size: 20;
}

.title {
    margin-top: 30;
    margin-bottom: 30;
    color: black;
    font-size: 30;
}