.label {
    color: black;
    margin-left: 20;
}

.input {
    border-width: 1;
    border-color: gray;
    margin-left: 20;
    margin-right: 20;
    margin-bottom: 20;
    border-radius: 10px;
}

.back {
    background-color: #4fa08b;
    color: white;
    width: 100;
    margin-right: 300;
}

.submit {
    background-color: #F0483E;
    color: white;
    width: 50%;
}

.first {
    margin-top: 5%;
}

StackLayout {
    margin-bottom: 300;
}